:host {
  height: 100%;
  display: block;
}

.app-progress {
  position: fixed;
  height: 3px;
  width: 100%;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: .5s opacity;
  overflow: hidden;

  &.is-visible {
    opacity: 1;
  }
}
