<div *ngIf="product$ | async as p">
  {{p.title}}
  <button (click)="purchaseWithStripe()">Checkout with stripe</button>
  <button (click)="createSkrillOrder()">Checkout with Skrill</button>

  <wm-paypal
    (cancel)="onCancel($event)"
    (error)="onError($event)"
    [style.width.px]="220"
    [height]="35"
    [layout]="'vertical'"
    [shape]="'rect'"
    [color]="'gold'"
    [label]="'paypal'"
    [createOrder]="createPayPalOrder"
    #paypal
    enableStandardCardFields></wm-paypal>
</div>
